{%extends 'base/app.html'%}
{% load bootstrap4 %}
{% block header %}

<style>
   
</style>
{% endblock %}

{% block content %}
<main>

    <p style="font-size:20px"><b><i class="mdi mdi-cogs"></i> {{header.name}} Inventory Category</b>
        <span class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#add-item" data-action="add"><i class="mdi mdi-plus"></i> Add Item</span>
    </p>

    <div class="card border-0">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-sm table-hover table-stripped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Total Stock</th>
                            <th>Used Stock</th>
                            <th>Available Stock</th>
                            <th>Created By</th>
                            <th>Created At</th>
                            

                        </tr>
                    </thead>
                    <tbody>
                        {% for data in configs %}
                        <tr>
                            <td><span class="btn btn-sm btn-default text-primary" data-target="#add-category" data-toggle="modal" data-action="edit" data-record="{{data}}"><i class="mdi mdi-pencil"></i></span></td>
                            <td>{{data.name}}</td>
                            <td>{{data.code}}</td>
                            <td>{{data.total_stock}}</td>
                            <td>{{data.used_stock}}</td>
                            <td></td>
                            <td>{{data.created_by.first_name}} {{data.created_by.last_name}}</td>
                            <td>{{data.created_at}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

{% endblock %}

{% block script %}

<div class="modal fade" id="add-category" role="dialog">
    <div class="modal-content">
        <form action="" method="post">
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-outline-primary"><i class="mdi mdi-content-save"></i> Save</button>
                <span class="btn btn-sm btn-default text-danger" data-dismiss="modal">Cancel</span>
            </div>
        </form>
    </div>
</div>
<script>
   $(()=>{
    let addCategoryBody = (data,action)=>{
        if(action == 'add' ){
            var body = $(`
                <div class="alert alert-primary p-2 d-flex">
                    <i class="mdi mdi-plus" style="font-size: 30px;"></i>
                    <span class="p-2"> Add Category </span>
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Name</label>
                    <input type="text" name="name" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Code</label>
                    <input type="text" name="code" value="" class="form-control">
                    <input type="hidden" name="config_id" value="0">
                    <input type="hidden" name="config_type_id" value="{{config.id}}">
                </div>
            `).clone();

        }else{
            var body = $(`
                <div class="alert alert-primary p-2 d-flex">
                    <i class="mdi mdi-plus" style="font-size: 30px;"></i>
                    <span class="p-2">Edit ${data['name']} Configuration </span>
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Name</label>
                    <input type="text" name="name" value="${data['name']}" class="form-control">
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Code</label>
                    <input type="text" name="code" value="${data['code']}" class="form-control">
                    <input type="hidden" name="config_id" value="${data['id']}">
                    <input type="hidden" name="config_type_id" value=""{{config.id}}>
                </div>
            `).clone(); 
        }
        return body;
    }
    $('#add-category').on('show.bs.modal',(e)=>{
        var action = $(e.relatedTarget).data('action');
        
        if(action == 'add'){
            data = {
                
            }
        }else{
            data = {
                "name": $(e.relatedTarget).data('name'),
                "code":$(e.relatedTarget).data('code'),
                "id":$(e.relatedTarget).data('id'),
            }
        }
        var body = addCategoryBody(data);
        
        var body = addConfigBody(data);
        $('#add-category').find('.modal-body').empty();
        $('#add-category').find('.modal-body').append(body);

    })
   })
</script>

{% endblock %}