{%extends 'base/app.html'%}
{% load bootstrap4 %}
{% block header %}

<style>
   
</style>
{% endblock %}

{% block content %}
<main>

    <p style="font-size:20px"><b><i class="mdi mdi-cogs"></i> {{config.name}} Configurations</b>
        <span class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#add-config" data-action="add"><i class="mdi mdi-plus"></i> Add Configuration</span>
    </p>

    <div class="card border-0">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-condensed table-sm table-hover table-stripped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in configs %}
                        <tr>
                            <td><span class="btn btn-sm btn-default text-primary" data-target="#add-config" data-toggle="modal" data-action="edit" data-id="{{data.id}}" data-key="{{data.key}}" data-value="{{data.value}}"><i class="mdi mdi-pencil"></i></span></td>
                            <td>{{data.key}}</td>
                            <td>{{data.value}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</main>

{% endblock %}

{% block script %}
<div class="modal fade" id="add-config-type" role="dialog">
    <div class="modal-content">
        <form action="" method="post">

            <div class="modal-body">
                <div class="alert alert-primary p-2 d-flex">
                    <i class="mdi mdi-plus" style="font-size: 30px;"></i>
                    <span class="p-2">Add Configuration Type</span>
                </div>
                <div class="form-group">
                    <label for="" class="control-label">Name</label>
                    <input type="text" class="form-control" name="name" value="">
                    <input type="hidden" name="config_type_id" value="">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn-sm btn btn-outline-primary"><i class="mdi mdi-content-save"></i> Save</button>
        <span class="btn btn-sm btn-default text-danger" data-dismiss="modal">Close</span>
    </div>
</div>
<div class="modal fade" id="add-config" role="dialog">
    <div class="modal-content">
        <form action="" method="post">
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-sm btn-outline-primary"><i class="mdi mdi-content-save"></i> Save</button>
                <span class="btn btn-sm btn-default text-danger" data-dismiss="modal">Cancel</span>
            </div>
        </form>
    </div>
</div>
<script>
   $(()=>{
    let addConfigBody = (data)=>{
        var body = $(`
            <div class="alert alert-primary p-2 d-flex">
                <i class="mdi mdi-plus" style="font-size: 30px;"></i>
                <span class="p-2">Add ${data['name']} Configuration </span>
            </div>
            <div class="form-group">
                <label for="" class="control-label">Key</label>
                <input type="text" value="key" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="control-label">Value</label>
                <input type="text" name="value" value="value" class="form-control">
                <input type="hidden" name="config_id" value="${data['id']}">
                <input type="hidden" name="config_type_id" value=""${data['config_type_id']}>
            </div>
        `).clone();
    }
    $('#add-config').on('show.bs.modal',(e)=>{
        var config_id = $(e.relatedTarget).data('configkey');
        var name = $(e.relatedTarget).data('cofigname');
        data = {
            "name":name,
            "config_id":config_id
        }
        var body = addConfigBody(data);
        $('#add-config').find('.modal-body').empty();
        $('#add-config').find('.modal-body').append(body);

    })
   })
</script>

{% endblock %}